<h1>List of Users</h1>
<p>

  <% @users.each do |u| %>
  <div class="grid grid-4">
    <ul>
      <% unless u.id == current_user.id %>

      <li><%= image_tag(u.avatar.thumb.url, alt: 'No Image', class: "friend_avatar") %></li>
      <br>
      <li><%= u.name %></li>
      <br>
      <li>Job: <%= u.job %></li>
      <br>
      <li>Location: <%= u.location %></li>
      <br>

      <% if @friends.any?{|f| f.self_id == u.id || f.friend_id == u.id} %>
      <!-- Thanks Beth! -->
      You and <%= u.name %> are already friends.
      <br>

      <% else %>

      <%= link_to("Add #{u.name} as a friend!", friends_path(friend_id: u.id), :method => :post) %>

      <% end %>
      <% end %>
    </ul>
  </div>
  
  <% end %>

  <section class="row">
  </section>

</p>