<h1>Photos</h1>
<p>
  <% @photos.each do |photo| %>
  <div class="grid grid-4">
    <ul>
      <li><%= link_to image_tag(photo.image.thumb.url, alt: 'No Image'), photo_path(photo) %></li>
      <br>
      <li>Title: <%= photo.title %></li>
      <br>
      <li>Description: <%= photo.description if photo.description %></li>
    </ul>

    <% if can? :update, photo %>
    <%= link_to("Edit Your Photo Details", edit_photo_path(photo)) %>
    <% else %>
    This is <%= @users.find(photo.user_id).name %>'s photo.
    &emsp;&emsp;&emsp;&emsp;
    <%= image_tag(@users.find(photo.user_id).avatar.thumb.url) %>
    <% end %>

    <br>

    <% if can? :destroy, photo %>
    <%= link_to("Delete Your Photo", photo_path(photo), method: :delete, data: {confirm: "Do you really want to delete this photo?"}) %>
    <% end %>
    <br>
    <br>
  </div>
  <% end %>
</p>