<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
  <%= image_tag(current_user.avatar.thumb) %>
    <div class="go-left">
      <div class="logo">
        <ul>
          <% if current_user %>
         <!--  <li><%= image_tag(current_user.avatar.thumb) %></li> -->
          <li><%= "Hi #{current_user.name}!" %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Edit Your Details', edit_user_registration_path %></li>
          <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <% end %>
        </div>
      </div>

      <div class="go-right">
        <ul>
          <li> <%= link_to 'View All Users', users_index_path %></li>
          <li> <%= link_to 'See Your Friends', friends_index_path %></li>
          <li> <%= link_to 'View All Photos', photos_index_path %> </li>
          <li> <%= link_to 'Add New Photo', new_photo_path %> </li>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="container">
      <%= yield %>
    </main>

  </body>
  </html>
